<!-- Make an index page where all of the products are listed and a product detail page for each product. -->

<h1>Ebay Users. Click on each seller to see their products</h1>

<ul>
	<%@users.each do |user| %>
		<a href="/users/<%= user.id %>"><li> <%=user.name %></li></a>
	<% end %>
</ul>

<!-- 
Make a new product page where users can fill out a form to post a new product - the form should include the title, description, and deadline to bid.

 -->