<!-- <form action="/calculate_add" method="POST">
  <input type="number" name="first_number" placeholder="1st number"> +
  <input type="number" name="second_number" placeholder="2nd number">

  <button type="submit">Calculate</button>

</form> -->
<h1>This is what you wrote</h1>
<pre><%=@text%></pre>