<label>Log in</label>

<form action="/profile" method="POST"> 
	<ul>
		<li><label>username: </label><input type="text" name="userName" placeholder="Enter username"></li>
		<li><label>password: </label><input type="text" name="password" placeholder="Enter password"></li>
		<li><button type="submit">Log in</button></li>
</form> 	