<h1>Timetracking tool</h1>

<h2>Project entries</h2>

<h3>
	<%= @proj.name%>
</h3>

<%= render ("form") %>

<!-- <ul>
	<%# @entries.each do |entr|%>
 		<li>
 		<%= entr.hours %> hours 	<!--hours along is a label -->
	   	<!-- <%#= entr.minutes %> minutes -->
	   <!-- </li> -->
	  <!--  <%# end%>
</ul>
<a href="/projects/<%= @proj.id%>/entries/new">add new entry</a> -->