/*All project css are here*/

@import "bootstrap-sprockets";
@import "bootstrap";
/*General*/
/*body {
    min-width: 1140px; 
}*/

/*Typografy*/
 /*h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}*/
/*h1 {
   font-size: 2em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   /*text-align: center;
}
*/

/*Logo*/
/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #blue;
  text-decoration: none;
}
*/
.border-logo{

	position: fixed;
  	margin-left: 10em;
 	margin-top: 2em;
	border: 3px solid rgba(255, 255, 255, 0.6);
	height: 40px; 
	font-family: 'BenchNine', sans-serif;
	font-size: 19px;

};

/*Home page background image with gradient*/
.homepage_image{
  
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 50%),
  url("homepage1.jpg") center center no-repeat;
    
 };

/*Navegation buttoms*/
.navbar-nav li a {
    color:white;
    margin-top: -7px;
}
.navbar-nav li a:hover {
   
    /*To take the gray of the hover bootstrap*/
     color: inherit;
    
    /*background: url('../YourColoredImage.png');*/
};


.some_other {
	height: 100vh;

};
/*.sep-elements{
	border-right: 10px;
}*/
/*To show images using javascript plugin*/
.galleria{ 
 	width: 100%;
 	height: 500px;
 	// default black background:
 	background: #000 
 };
