/*All project css are here*/

@import "bootstrap-sprockets";
@import "bootstrap";
/*General*/
/*body {
  padding-top: 60px;
}*/

/*Typografy*/
 h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
/*h1 {
   font-size: 2em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   /*text-align: center;
}
*/

/*Logo*/
/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #blue;
  text-decoration: none;
}
*/
.border-logo{
	  /*border: 5px solid white;*/
	  border: 5px solid rgba(255, 255, 255, 0.6);
	  height: 40px; /*border-top:-50px;*/
	  font-family: 'BenchNine', sans-serif;
	  font-size: 19px;
};


.homepage_image{
    height: 100vh;
	width: 100%;
 

  background: -webkit-linear-gradient(rgba(0,0,0,0.5) 10%, rgba(255,255,255,0.2) 50%),
  url("homepage1.jpg") no-repeat;

    
 };

.some_other {
	height: 100vh;

};
/*.sep-elements{
	border-right: 10px;
}*/
/*To show images using javascript plugin*/
.galleria{ 
 	width: 100%;
 	height: 500px;
 	// default black background:
 	background: #000 
 };
