/*All project css are here*/

@import "bootstrap-sprockets";
@import "bootstrap";
/*General*/

.border-logo{

	position: absolute;
  	margin-left: 13em;
 	margin-top: 48px;
	border: 3px solid rgba(255, 255, 255, 0.6);
	height: 40px; 
	font-family: 'BenchNine', sans-serif;
	font-size: 19px;

}
.logo_small{
	margin-top: 2em;
	margin-left:4em;
	/*padding-left: 20px;*/

}

/*Home page background image with gradient*/
.homepage_image{
  
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0,22,45,0.5) 10%, rgba(255,255,255,0.2) 50%),
  url("homepage1.jpg") center center no-repeat;
  background-attachment: fixed;
  /*Place the background image behind the blue logo*/
  z-index: -2;
  position: relative;
    
 }

 .logo_big {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  

}
/*Nav right menu*/
.navbar-left,
.navbar-right.top-menu{
	margin-top: -8px;
    position:relative;
}
/*Navegation buttoms*/
.navbar-left li a,
.navbar-right li a {
    color:white;
}
.navbar-nav li a:hover {
   
    /*To take the gray of the hover bootstrap*/
     color: rgba(0,22,60,0.5);
     border-bottom:3px solid rgba(0,22,60,0.5);
     background-color: transparent;
}
#home-section{
	padding: 0;

}
/*Section 2 home*/
.module.content{
	background-color: white;
	padding: 100px;
}

	.navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
/*Small Home images*/

.image_small_home{
	height: 120px;
	width: 150px;
	vertical-align: center;
}




/*#slide-2 .hsContent {
    margin-left: -450px;
    top: auto;
}
#slide-2 h2 {
    position: fixed;
    top: 70%;
}*/

/*.sep-elements{
	border-right: 10px;
}*/
/*To show images using javascript plugin*/
.galleria{ 
 	width: 100%;
 	height: 500px;
 	/*default black background:*/
 	background: #000;
 }

footer{
	background: -webkit-linear-gradient(left,rgba(63,196,169,0.7)30%, rgba(132,225,255,0.7)),
    center center no-repeat;
	padding: 15px;
}
.logo_footer{
	margin-right: 5px;
}
.logo_footer:hover{
	height: 25px;

}

.copyright{
	text-align: center;
	font-family: 'Enriqueta', serif;
	font-size: 14px;
	color:white;
}

