<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <ul>
	  <% @image_gallery.picture.each do |pic| %>
	  	<li><img src="<%= pic.url %>"></li>
	  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_image_gallery_path(@image_gallery) %> |
<%= link_to 'Back', image_galleries_path %>
