<p id="notice"><%= notice %></p>


  <strong>Picture:</strong>
  <div class="galleria">
	  <% @image_gallery.picture.each do |pic| %>
	  	<img src="<%= pic.url %>">
	  <% end %>
  </div>

<script>Galleria.loadTheme('../galleria/themes/classic/galleria.classic.min.js');
 Galleria.run('.galleria');
</script>

<%= link_to 'Edit', edit_image_gallery_path(@image_gallery) %> |
<%= link_to 'Back', image_galleries_path %>
