<p id="notice"><%= notice %></p>

<p>


  <!-- <strong>Title:</strong> -->
  <%#= @photo.title %>
</p>


  <!-- <strong>Image:</strong> -->
  
  <img src='<%image=@photo.image_url(:imageGallery) if @photo.image?%>'>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

