<h1>Hi, I am Karin</h1>
<a href="https://twitter.com">Twitter</a>

<% if Time.now.tuesday? %>  <!-- This tag let me recognize  ruby between them -->
	<p>						<%# ERB COMMENTS %>
		I'm not a big fan of tuesdays.
	</p>
<% end %>

<p>
	Nizar was born on
	<%= @years_ago %>
	years ago.
</p>

