<!-- <p id="notice"><%= notice %></p> -->
<!-- <div class="center jumbotron">
	<h2>Home page</h2>
</div> -->

<div class='homepage_image'>
	<%= image_tag 'Logo1.png', alt: 'logo',:class => "logo_big"%>
	<%#= image_tag 'Logo_menu.png', alt: 'logo', :class => "logo_small"%>
</div>

<div class="some_other row">
	HAYYY
</div>


