<h3> Please fill the information bellow to create a post: </h3>	


<form action="user_input" method="POST">
  Post'title: <input type="text" name="title" placeholder="Type the title"><br><br>
  Post'text: <input type="text" name="text" placeholder="Type the text"><br><br>
  <button type="submit" name="createPost">Submit</button><br><br>
  <a href="/tasks" name="home">HOME</a>
</form>

 