<h3>Posts details:</h3>

<form action="post_details" method="POST" placeholder="Type task">
	<ul>
		<%# @sorted_blog.each do |post| %>
		  <li><%= @sorted_blog.title %></a></li>
		  <li><%= @sorted_blog.date %></a></li>
		   <li><%=@sorted_blog.title %></a></li>
		<%# end %>
	</ul>
</form>