
	<ul>
		<% @projects.each do |project| %>
			<%# if project.name=="Ironhack" %>   <!-- Only show me the projects with that name-->
				<li><%= project.name %>
					 <% if !(project.description.nil?)%></li>   <!--Same as saying proyect.description!=nil? -->
					
					<%= project.description %>
					<%end%>
			<% end %>
		<%# end%>
	</ul>