// Place all the styles related to the concertnets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	float:left;
	// padding-right:200px;
	margin: 0 200px 0 30px;
}
.month_concert{
	float:right;

}