<h2> Game of movies </h3>	


<form action="/movie" method="POST">
<h3> Please type a movie title to find a movie. </h3>	
  <input type="text" name="movieFinder" placeholder="Type the title"><br><br>
<h3> Please select a number from 1 to 3 to select a question </h3>	
   <input type="text" name="randomQuestion" placeholder="Type the title"><br><br>
   <button type="submit" name="find_movie">Submit</button><br><br>
</form>


