<%= @result %>  <!-- Prints the result of the operations -->

<form action="/save_result" method="POST">
		<button type="submit" name="button" value="<%= @result %> ">SAVE</button>   
		 <!-- #Has as value the result of the opertions-->
	</form>