<h3><%= @users.name %> List of products:</h3>

<!-- <ul> -->
	<%#@products.each do |product|%>
 		<!-- <div> -->

 		<!-- <h4><%#= product.name %> </h4> -->
 		
 		<%= @users.products %><br>
 		<a href="/users/:id/new_product">Create new product</a>
 		<%#= #product.deadline %>
 		 <%# end%>
	   <!-- </div> -->
<!-- </ul> -->


	<!-- <ul> -->
		<%# @products do |product| %>
			<!-- <li><%#= users.products%></li> -->
			<%# end %>
		
		<%#= @products.description%>
		<!-- <li><%#= @products.deadline%></li> -->
	<!-- </ul> -->
