
	<h1><%= @user.first_name + @user.last_name%></h1>

	<p>Contact email: <%=@user.email%></p>
	<p>Description of artist: FALTA</p>

	<%if current_user.present? && current_user.id==@user.id && !current_user.admin%>
		<a href='/users/<%=@user.id%>/posts/new'>Create new post</a>
    <% end %>
		
	
	<a href='/users/<%=@user.id%>/posts'>List of posts</a>|
	<a href='/users'>Back</a>
	
