
<h3> Please enter the id's task you would like to find in order to modify your task</h3>

<form action='/complete_task/' method="POST" >
  User task: <input type="number" name="task_input" placeholder="type id">
  <button type="submit" name="action" value="add">Mark as complete</button>
  <button type="submit" name="action" value="delete">Delete task</button>
</form>
