
<% p @todo_list %>
<h3> Please enter the task you would like to add to your list </h3>	

<form action="user_input" method="POST" placeholder="Type task">
  User task: <input type="text" name="task"><br><br>
  <button type="submit" name="addTask">Submit</button><br><br>
  <a href="/tasks" name="home">HOME</a>
</form>

 