<h1><%= @name%> Tasks</h1>
	<ul>
		<% @todoList.each do |hm| %>
		<% if hm.completed %>
			<% status="Completed" %>
			<% else %>
			<% status="Imcomplete" %>
			<% end %>
		<li>id:<%= hm.id %>__Task:<%=  hm.content %><h4><%= status %></h4></li>
   	    <% end %>
	</ul>

<a href="/new_task" name="newTask">Add New Task</a><br><br>
<a href="/find_task_by_id" name="task_id">Modify task</a>

